@model POS.Models.DailySalesEntry

    
<form asp-action="Create">
    <div class="form-horizontal">
        <h4>DailySalesEntry</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="InventoryItemId" class="col-md-2 control-label">Producto</label>
            <div class="col-md-10">
                <select asp-for="InventoryItemId" id="inventoryItem" class="form-control" asp-items="ViewBag.InventoryItem"></select>
                <span asp-validation-for="InventoryItemId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label" id="Quantity">Cantidad</label>
            <div class="col-md-10">
                <input asp-for="Quantity" id="quantity" class="form-control" />
                <span id="not-enough"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PaymentMethodId" class="col-md-2 control-label">Forma de Pago</label>
            <div class="col-md-10">
                <select asp-for="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethod"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <input type="hidden" asp-for="DailySalesId" value="@ViewContext.RouteData.Values["id"]" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
