@model IEnumerable<POS.Models.AddInventoryModel>
@inject UserManager<ApplicationUser> UserManager

@{if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Crear nuevo registro de compra de inventario</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                        <th>
                            ID
                        </th>    
                        <th>
                            Fecha
                        </th>
                        <th>
                            Usuario
                        </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ID">Detalles</a>
                        </td>
                    </tr>
            }
            </tbody>
        </table>
        }
}
